# configurations
.env
.DS_Store

# noise files
__pycache__/
.ipynb_checkpoints/

# Python bytecode
data/cache/**
data/decisions/**
data/user_categories/**

# data directories
!data/static/**
!data/profiles/**

# other data files (personal custum package)
data/profiles/custom.yaml
